<% include partials/head.ejs %>
        
        <h1 class="centerText"> Welcome to our book store!</h1>
        
        <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        
        <form action='/' method='GET'>
            <div class="grid-container">
                <% bookInfo.forEach(function(b) { %>
                
                    <!--cards displayed with bootstrap-->
                    <div class="card" style="width: 18rem;">
                        <!--should be able tob click on image or title to get details-->
                        <img class="card-img-top" src="<%= b.cover %>" alt="Card image cap"/>
                        <div class="card-body">
                            <h5 class="card-title"><%= b.title %></h5>
                            <!--extra: click on author to get books written by them-->
                            by <a href="#" class="card-link"><%= b.author %></a>
                            <p class="card-text"><b>$<%= b.price %></b></p>
                            <!--view should guide to detail Page-->
                            <a href="/book/<%= b.bookId %>" class="btn btn-dark btn-lg">View</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </form>
<% include partials/footer.ejs %> 