<% include partials/head.ejs %>
        <h1 class="centerText"> Welcome to our book store! (temp main page) </h1>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        <img class="centerIMG" src="/img/books.jpg" width="300" alt="Trinity Select library"/>
        
        <div class="grid-container">
            <% bookInfo.forEach(function(b) { %>
            
                <!--cards displayed with bootstrap-->
                <div class="card" style="width: 18rem;">
                    <!--should be able to click on image or title to get details-->
                    <img class="card-img-top" src="<%= b.cover %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= b.title %></h5>
                        <!--extra: click on author to get books written by them-->
                        <a href="#" class="card-link"><%= b.author %></a>, <%= b.year %>
                        <p class="card-text">$<%= b.price %></p>
                        <!--view should guide to detail Page-->
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            <% }) %>
        </div>
        <!--cover - image to display-->
        

        
        
        <!--<div class="card" style="width: 18rem;">-->
        <!--    <img class="card-img-top" src="..." alt="Card image cap">-->
        <!--    <div class="card-body">-->
        <!--        <h5 class="card-title">Card title</h5>-->
        <!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
        <!--    </div>-->
        <!--</div>-->
        
        
<% include partials/footer.ejs %> 